{% extends "main/base.html" %}
{% load static %}
{% block title %}Barangay Bagna{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <div class="panel1">
                <h1>Contact Page</h1> 
                <p>Inocencio DC. Villena JR.: 09972631427</p>
                <p>Roanld E. Villena: 09196289599</p>
                <p>Hernando T. Liwanag: 09516046841</p>
                    
                <p>Main office contact us: 0912345667</p>
                <h4>Find Us:</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3857.009696234054!2d120.82042697592152!3d14.824713921548812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396523ec508cad9%3A0xc31107d39942c99c!2sBagna%2C%20Malolos%2C%20Bulacan!5e0!3m2!1sen!2sph!4v1715155571497!5m2!1sen!2sph" 
                width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
    {% endblock %}